@import "_normalize";
@import "_variables";



*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: $dark-gray;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

#header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  color: $light-gray;
  background-color: $blue;
  text-transform: uppercase;

  .title {
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .clue {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .color-number {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2rem;
  }

  @media(orientation: landscape) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .title,
    .clue,
    .color-number {
      font-size: 1rem;
      margin-bottom: .5rem;
    }
  }

  @media(orientation: landscape) and (min-width: $tablet-large) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    .title {
      letter-spacing: 1px;
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    .clue {
      font-size: 0.8rem;
    }

    .color-number {
      font-size: 1.4rem;
    }
  }
}

#navigation {
  background-color: $light-gray;
  font-size: 1rem;
  text-transform: uppercase;
  color: $blue;
  font-weight: 700;

  .list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    font-size: 1rem;

    .left-list,
    .right-list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;


      li {
        padding: 0.4rem;
        min-width: 100px;
        text-align: center;
        transition: all .2s linear;
        cursor: pointer;

        &.play-again,
        &.option {
          &:hover {
            background-color: $blue;
            color: $light-gray;
          }
        }
      }
    }

    @media(min-width: $tablet) {
      font-size: 1.2rem;

      .left-list,
      .right-list {
        flex-direction: row;
      }

      .right-list {
        justify-content: flex-end;

        li {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }

}

#board {
  width: 100%;
  max-width: $mobile;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  .box {
    background-color: green;
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }

  @media(min-width: $tablet) {
    max-width: $tablet;

    .box {
      width: 200px;
      height: 200px;
    }
  }
}

.active {
  background-color: $blue;
  color: $light-gray;
}